{% extends 'base.html' %}
{% block title %}MyWebsite{% endblock %}
{% block nav_blog_active %}active{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">Blog Catalog(There are {{blogs|length}} blogs)</div>
                    <div class="panel-body">
                        {% for blog in blogs %}
                        <a href="{% url 'blog_detail' blog.pk %}">
                            <h3>{{blog.title}}</h3>
                        </a>
                            <p>{{blog.content|truncatechars:50}}</p>
                        {% empty %}
                            <p>-- There is no Blogs --</p>    
                        {% endfor %}
                    </div>                    
                </div>        
            </div>
        <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">Blog Catalog</div>
                <div class="panel-body">
                    <ul style="list-style-type:none;">
                        {% for blog_type in blog_types %}
                        <li><a href="{% url 'blogs_with_type' blog_type.pk %}">{{blog_type.type_name}}</a>
                        </li>
                        {% empty %}                    
                        <li>There is no Catalogs</li>    
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
