<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{blog_type.type_name}}</title>
</head>
<body>
    <div>
        <a href="{%url 'home'%}">
            <h3>BLOGS</h3>
        </a>        
    </div>
    <hr>
    <h3>{{blog_type.type_name}}</h3>
    {% for blog in blogs %}
    <a href="{% url 'blog_detail' blog.pk %}">
        <h3>{{blog.title}}</h3>
    </a>
        <p>{{blog.content|truncatechars:50}}</p>
    {% empty %}
        <p>-- There is no Blogs --</p>    
    {% endfor %}
    <hr>
    <p>There are {{blogs|length}} blogs</p> 
</body>
</html>